<%= provide(:title, "Domů") %>
<h2>something</h2>
<!-- featured -->

<div class="home-featured">

  <ul id="filter-buttons">
    <li><a href="#" data-filter="*" class="selected">show all</a></li>
    <li><a href="#" data-filter=".rum">rum</a></li>
    <li><a href="#" data-filter=".whisky">whisky</a></li>
    <li><a href="#" data-filter=".vodka">vodka</a></li>
    <li><a href="#" data-filter=".tequila">tequila</a></li>
    <li><a href="#" data-filter=".ostatní">ostatní</a></li>
  </ul>

  <!-- Filter container -->
  <div id="filter-container" class="cf">
    <% @drinks.each do |drink| %>
      <figure class="<%= drink.zaklad %>">
        <a href="project.html" class="thumb"> <%= image_tag "#{drink.img_url}", width: 300, height: 90 %> </a>
        <figcaption>
          <a href="project.html"><h3 class="heading"><%= drink.nazev %></h3></a>
          <%= drink.text1 %>
        </figcaption>
      </figure>
    <% end %>
  </div>
</div>
