<!-- page content-->
<div id="page-content" class="cf">
	<!-- entry-content -->
  <div class="entry-content cf">

		<!-- 2 cols -->
      <div class="">
				<h4 class="heading">O DaiQuiri</h4>
        Představujeme Vám jedinečný café & cocktail bar v srdci Kladna. Doba, kdy jste tápali kam se jít večer pobavit s přáteli je pryč. Jedinečná atmosféra, zábava na úrovni, příjemná hudba a k tomu skvělé míchané nápoje. Snažíme se, aby si každý host odnesl domů mimo kocoviny i nezapomenutelný zážitek. DaiQuiri je vyjímečné místo stvořené pro zábavu a odpočinek po strastech všedního dne. Starat se o Vás budou profesionální barmani s širokou nabídkou výborných koktejlů a kvalitních destilátů. Přes den můžete využít nabídky výborné kávy pro získání nové energie. Rádi uspořádáme soukromou oslavu nebo firemní párty ať už pro zábavu nebo pro pracovní příležitosti.
      </div>

					<div class="">
            <br>
						<h4 class="heading">Proč navštívit bar DaiQuiri?</h4>
             <li>atraktivní ceny</li>
             <li>jedinečné HAPPY HOURS</li>
             <li>vždy příjemné a čisté prostředí</li>
             <li>kuřácká i nekuřácká část</li>
             <li>vysoká úroveň hostů i personálu</li>
             <li>široký výběr míchaných nápojů, destilátů a ostatních nápojů (více jak 250 druhů)</li>
             <li>akceptujeme veškeré platební karty</li><br>
              &nbsp;&nbsp; <%= image_tag 'maestro' %> <%= image_tag 'mastercard' %> <%= image_tag 'visa' %> <%= image_tag 'visa2' %>
        	</div>
					<div class="clearfix"></div>
					<!-- ENDS 2 cols -->

					<!-- last cols -->
					<div class="">
						<h4 class="heading">Pořádání oslav, srazů atd.</h4>
             <li>pro 10 a více lidí můžete mít po celý večer za akční cenu Cuba libre, Screwdriver za 59 Kč a Chupito 39 Kč nebo jiné drinky dle dohody</li>
             <li>možnost rezervace pro 30 lidí i pro více dle dohody</li>
             <li>fotbálek a taneční parket</li>
             <li>můžete si donést vlastní občerstvení jako jednohubky, chlebíčky, obložené mísy nebo dort</li>
             <li>v případě zájmu zajišťujeme i catering</li>
             <br><br>
             <h4 class="heading">Rezervace a bližší info:</strong> 734 745 201 nebo daiquiri.kladno(at)email.cz</h4>
					</div>
          <%= image_tag 'o_daiquiri.jpg', width: 940, height: 392 %>

          <div class="clearfix"></div>
					<!-- ENDS last cols -->

				</div>
				<!-- ENDS entry-content -->
    	</div>
    	<!-- ENDS page content-->
