<br>
<h3>Administrace:</h3>
<%= javascript_include_tag "form-validation.js" %>
<p>
  <%= form_for :session, html: {id: "contactForm"} do |f| %>
  <fieldset>
    <p>
      <%= f.label :jmeno %>
      <%= f.text_field :jmeno, class: "form-poshytip" %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-poshytip" %>
    </p>
    <%= f.submit "Login!", id: "submit" %>
  </fieldset>
  <% end %>
</p>
