<%= form_for @drink, html: { id: "contactForm", multupart: true } do |f| %>

  <%= f.label :nazev %>
  <%= f.text_field :nazev %>

  <%= f.label :autor %>
  <%= f.text_field :autor %>

  <%= f.label :datum %>
  <%= f.text_field :datum %>

  <%= f.label :misto %>
  <%= f.text_field :misto %>

  <%= f.label :zaklad %>
  <%= f.select :zaklad, %w(vodka rum whisky tequila ostatní) %>

  <%= f.label :text1 %>
  <%= f.text_area :text1 %>

  <%= f.label :text2 %>
  <%= f.text_area :text2 %>

  <%= f.label :text3 %>
  <%= f.text_area :text3 %>

  <%= f.label :text4 %>
  <%= f.text_area :text4 %>

  <h4>
    Doporučení rozlišení obrázku: 940 x 367
  </h4>
  <br>

  <p>
    <%= f.file_field :image %>
    <%= f.label :remote_image_url, 'or a URL of an image:' %>
    <%= f.text_field :remote_image_url %>
  </p>
  <p>
    <%= f.file_field :image2 %>
    <%= f.label :remote_image2_url, 'or a URL of an image:' %>
    <%= f.text_field :remote_image2_url %>
  </p>
  <p>
    <%= f.file_field :image3 %>
    <%= f.label :remote_image3_url, 'or a URL of an image:' %>
    <%= f.text_field :remote_image3_url %>
  </p>
  <%= f.submit 'Editovat drink!' %>

<% end %>
<br><br>

<%= link_to 'Delte drink', drink_path(@drink), method: :delete, data: { confirm: "Are you sure?" } %>
