<div id="posts-list" class="cf">
  <article class="format-image">
    <div class="feature-image">
      <%= image_tag @post.image_url.to_s %>
    </div>

    <div class="box cf">

      <div class="entry-date">
        <div class="number"><%= @post.datum.strftime("%d") if @post.datum %></div>
        <div class="month"><%= @post.datum.strftime("%B")[0...3] if @post.datum %></div>
      </div>

      <div class="excerpt">
        <a href="#" class="post-heading" ><%= @post.nazev %></a>
        <p>
          <%= @post.text %>
        </p>
      </div>

      <!-- tags -->
      <div class="meta">
        <% tags = @post.tags.split(" ") # Tags to array %>
        <% tags.each do |tag| %>
          <span class="tags"><%= tag %></span>
        <% end %>
      </div>
      <!-- end tags -->
    </div>
  </article>
</div>
