<!-- HEADER -->
<header>
  <div class="wrapper cf">

    <div id="logo">
      <%= link_to image_tag('logo.png', alt: "Logo", width: 245), root_path %>
    </div>

    <!-- nav -->
    <ul id="nav" class="sf-menu">
      <li class=" <%= active('home') %>" >
        <%= link_to "Domů", root_url %>
      </li>
      <li class=" <%= active('program') %>">
        <%= link_to 'Program', 'program' %>
      </li>
      <li class=" <%= active('novinky') %>">
        <%= link_to 'Novinky', 'novinky' %>
      </li>
      <li class=" <%= active('o_daiquiri') %> ">
        <%= link_to "O Daiquiri", "o_daiquiri" %>
        <ul>
          <li> <%= link_to 'Galerie', 'galerie' %> </li>
          <li> <%= link_to 'Nápojový lístek', 'napojovy_listek' %> </li>
          <li> <%= link_to 'Provozní řád', 'provozni_rad' %> </li>
          <li> <%= link_to 'O baru Daiquiri', 'o_baru_daiquiri' %> </li>
        </ul>
      </li>
      <li>
        <%= link_to "Kontakt", "kontakt" %>
      </li>
    </ul>
    <div id="combo-holder"></div>
    <!-- ends nav -->

    <%= render 'layouts/slider' if current_page?('/') %>

  </div>
</header>
<!-- ENDS HEADER -->
