<!DOCTYPE html>
<html class="no-js">
  <head>
		<meta charset="utf-8"/>

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

		<!-- GOOGLE FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>

  <title><%= full_title(yield(:title)) %></title>
  <%= javascript_include_tag 'application' %>
  <%= render 'layouts/js' %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body class="home">


  <%= render 'layouts/header' %>


  <div id="main">
    <div class="wrapper cf">

      <% flash.each do |message_type, message| %>
        <div class="highlight"><%= message %></div>
      <% end %>

      <%= yield %>
    </div>
  </div>

  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>


</body>
</html>
